<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nabeeltech.retrofitcodinginflow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_retrofit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_retrofit_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeleteMethod"></activity>
        <activity android:name=".PatchMethod" />
        <activity android:name=".PutMethod" />
        <activity android:name=".PostByFormUrlEncoded" />
        <activity android:name=".PostByBody" />
        <activity android:name=".getFullUrlMethod" />
        <activity android:name=".postByUserIdQueryMap" />
        <activity android:name=".postByUserId" />
        <activity android:name=".getCommentsByPostId" />
        <activity android:name=".GetPosts" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>